{{ 'testimonials.css' | asset_url | stylesheet_tag }}
<div class="hb_tabs">
  <div class="hb_main_container">
    <div class="tab">
      <button class="tablinks active" onclick="openCity(event, 'google_Reviews')">
        Google Reviews
      </button>
      <button class="tablinks" onclick="openCity(event, 'testimonials')">
        Testimonials
      </button>
      <button class="tablinks" onclick="openCity(event, 'video_testimonials')">
        Video Testimonials
      </button>
    </div>
    <hr class="hb_line hb_line__testimonials" />

    <!-- Tab content -->
    <div
      id="google_Reviews"
      class="tabcontent"
      style="display: block">
      <div class="hb_testimonial--list">
        {% for block in section.blocks %}
          {% if block.type == 'google_reivews' %}
            <div class="hb_testi--item">
              <p class="hb_testim--p">
                {{ block.settings.google_review }}
              </p>
              <div class="hb_testim_item--footer">
                <h3 class="hb_testim--name">
                  {{ block.settings.name }}</h3>
              </div>
            </div>
          {% endif %}
        {% endfor %}


      </div>
    </div>

    <div id="testimonials" class="tabcontent">
      <div class="hb_comments__list">
        {% for block in section.blocks %}
          {% if block.type == 'testimonials' %}
            <div class="hb_comments--item">
              <div class="hb_comments_svg">
                <svg
                  width="17"
                  height="16"
                  viewBox="0 0 17 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="hb_comments__svg--style">
                  <path d="M3.15839 15.548C3.19206 15.3532 3.24978 15.0891 3.28139 14.8229C3.44219 13.4652 3.58786 12.106 3.75827 10.7496C3.80294 10.3952 3.65795 10.1418 3.43256 9.90531C2.69937 9.13579 1.96274 8.36965 1.23093 7.59947C0.888037 7.23829 0.541031 6.87982 0.214634 6.50449C-0.120009 6.11974 -0.0719097 5.9843 0.419404 5.88996C1.87617 5.60897 3.33087 5.31384 4.7945 5.06857C5.36552 4.97288 5.74002 4.72895 6.01144 4.22291C6.6931 2.95476 7.41529 1.70751 8.121 0.451488C8.16497 0.37265 8.19796 0.287071 8.24881 0.21295C8.43915 -0.0660153 8.56421 -0.0754503 8.74081 0.211601C9.07133 0.749317 9.38399 1.29714 9.69458 1.84631C10.1715 2.68995 10.649 3.53291 11.1074 4.38665C11.3183 4.77949 11.631 4.97153 12.0694 5.0497C13.5522 5.31451 15.031 5.60021 16.5111 5.87918C17.089 5.98834 17.1426 6.10963 16.7351 6.55503C15.8954 7.47211 15.0337 8.37033 14.1789 9.2746C13.9769 9.48821 13.768 9.69643 13.5584 9.90329C13.2781 10.1796 13.2032 10.501 13.2547 10.8878C13.4547 12.3749 13.6326 13.8641 13.8182 15.3532C13.8292 15.4422 13.8381 15.5325 13.8381 15.6214C13.8381 15.9981 13.7323 16.0783 13.386 15.93C12.883 15.7157 12.3903 15.4799 11.8914 15.2555C10.9143 14.8162 9.96943 14.3115 8.97787 13.9004C8.62743 13.7549 8.3402 13.7562 8.00281 13.9146C6.66149 14.5419 5.31054 15.1497 3.96304 15.7636C3.83867 15.8202 3.71704 15.8862 3.58648 15.9253C3.26971 16.0203 3.16801 15.9435 3.15908 15.5473L3.15839 15.548Z" fill="#FFCB10" />
                </svg>
                <svg
                  width="17"
                  height="16"
                  viewBox="0 0 17 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="hb_comments__svg--style">
                  <path d="M3.15839 15.548C3.19206 15.3532 3.24978 15.0891 3.28139 14.8229C3.44219 13.4652 3.58786 12.106 3.75827 10.7496C3.80294 10.3952 3.65795 10.1418 3.43256 9.90531C2.69937 9.13579 1.96274 8.36965 1.23093 7.59947C0.888037 7.23829 0.541031 6.87982 0.214634 6.50449C-0.120009 6.11974 -0.0719097 5.9843 0.419404 5.88996C1.87617 5.60897 3.33087 5.31384 4.7945 5.06857C5.36552 4.97288 5.74002 4.72895 6.01144 4.22291C6.6931 2.95476 7.41529 1.70751 8.121 0.451488C8.16497 0.37265 8.19796 0.287071 8.24881 0.21295C8.43915 -0.0660153 8.56421 -0.0754503 8.74081 0.211601C9.07133 0.749317 9.38399 1.29714 9.69458 1.84631C10.1715 2.68995 10.649 3.53291 11.1074 4.38665C11.3183 4.77949 11.631 4.97153 12.0694 5.0497C13.5522 5.31451 15.031 5.60021 16.5111 5.87918C17.089 5.98834 17.1426 6.10963 16.7351 6.55503C15.8954 7.47211 15.0337 8.37033 14.1789 9.2746C13.9769 9.48821 13.768 9.69643 13.5584 9.90329C13.2781 10.1796 13.2032 10.501 13.2547 10.8878C13.4547 12.3749 13.6326 13.8641 13.8182 15.3532C13.8292 15.4422 13.8381 15.5325 13.8381 15.6214C13.8381 15.9981 13.7323 16.0783 13.386 15.93C12.883 15.7157 12.3903 15.4799 11.8914 15.2555C10.9143 14.8162 9.96943 14.3115 8.97787 13.9004C8.62743 13.7549 8.3402 13.7562 8.00281 13.9146C6.66149 14.5419 5.31054 15.1497 3.96304 15.7636C3.83867 15.8202 3.71704 15.8862 3.58648 15.9253C3.26971 16.0203 3.16801 15.9435 3.15908 15.5473L3.15839 15.548Z" fill="#FFCB10" />
                </svg>
                <svg
                  width="17"
                  height="16"
                  viewBox="0 0 17 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="hb_comments__svg--style">
                  <path d="M3.15839 15.548C3.19206 15.3532 3.24978 15.0891 3.28139 14.8229C3.44219 13.4652 3.58786 12.106 3.75827 10.7496C3.80294 10.3952 3.65795 10.1418 3.43256 9.90531C2.69937 9.13579 1.96274 8.36965 1.23093 7.59947C0.888037 7.23829 0.541031 6.87982 0.214634 6.50449C-0.120009 6.11974 -0.0719097 5.9843 0.419404 5.88996C1.87617 5.60897 3.33087 5.31384 4.7945 5.06857C5.36552 4.97288 5.74002 4.72895 6.01144 4.22291C6.6931 2.95476 7.41529 1.70751 8.121 0.451488C8.16497 0.37265 8.19796 0.287071 8.24881 0.21295C8.43915 -0.0660153 8.56421 -0.0754503 8.74081 0.211601C9.07133 0.749317 9.38399 1.29714 9.69458 1.84631C10.1715 2.68995 10.649 3.53291 11.1074 4.38665C11.3183 4.77949 11.631 4.97153 12.0694 5.0497C13.5522 5.31451 15.031 5.60021 16.5111 5.87918C17.089 5.98834 17.1426 6.10963 16.7351 6.55503C15.8954 7.47211 15.0337 8.37033 14.1789 9.2746C13.9769 9.48821 13.768 9.69643 13.5584 9.90329C13.2781 10.1796 13.2032 10.501 13.2547 10.8878C13.4547 12.3749 13.6326 13.8641 13.8182 15.3532C13.8292 15.4422 13.8381 15.5325 13.8381 15.6214C13.8381 15.9981 13.7323 16.0783 13.386 15.93C12.883 15.7157 12.3903 15.4799 11.8914 15.2555C10.9143 14.8162 9.96943 14.3115 8.97787 13.9004C8.62743 13.7549 8.3402 13.7562 8.00281 13.9146C6.66149 14.5419 5.31054 15.1497 3.96304 15.7636C3.83867 15.8202 3.71704 15.8862 3.58648 15.9253C3.26971 16.0203 3.16801 15.9435 3.15908 15.5473L3.15839 15.548Z" fill="#FFCB10" />
                </svg>
                <svg
                  width="17"
                  height="16"
                  viewBox="0 0 17 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="hb_comments__svg--style">
                  <path d="M3.15839 15.548C3.19206 15.3532 3.24978 15.0891 3.28139 14.8229C3.44219 13.4652 3.58786 12.106 3.75827 10.7496C3.80294 10.3952 3.65795 10.1418 3.43256 9.90531C2.69937 9.13579 1.96274 8.36965 1.23093 7.59947C0.888037 7.23829 0.541031 6.87982 0.214634 6.50449C-0.120009 6.11974 -0.0719097 5.9843 0.419404 5.88996C1.87617 5.60897 3.33087 5.31384 4.7945 5.06857C5.36552 4.97288 5.74002 4.72895 6.01144 4.22291C6.6931 2.95476 7.41529 1.70751 8.121 0.451488C8.16497 0.37265 8.19796 0.287071 8.24881 0.21295C8.43915 -0.0660153 8.56421 -0.0754503 8.74081 0.211601C9.07133 0.749317 9.38399 1.29714 9.69458 1.84631C10.1715 2.68995 10.649 3.53291 11.1074 4.38665C11.3183 4.77949 11.631 4.97153 12.0694 5.0497C13.5522 5.31451 15.031 5.60021 16.5111 5.87918C17.089 5.98834 17.1426 6.10963 16.7351 6.55503C15.8954 7.47211 15.0337 8.37033 14.1789 9.2746C13.9769 9.48821 13.768 9.69643 13.5584 9.90329C13.2781 10.1796 13.2032 10.501 13.2547 10.8878C13.4547 12.3749 13.6326 13.8641 13.8182 15.3532C13.8292 15.4422 13.8381 15.5325 13.8381 15.6214C13.8381 15.9981 13.7323 16.0783 13.386 15.93C12.883 15.7157 12.3903 15.4799 11.8914 15.2555C10.9143 14.8162 9.96943 14.3115 8.97787 13.9004C8.62743 13.7549 8.3402 13.7562 8.00281 13.9146C6.66149 14.5419 5.31054 15.1497 3.96304 15.7636C3.83867 15.8202 3.71704 15.8862 3.58648 15.9253C3.26971 16.0203 3.16801 15.9435 3.15908 15.5473L3.15839 15.548Z" fill="#FFCB10" />
                </svg>
                <svg
                  width="17"
                  height="16"
                  viewBox="0 0 17 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="hb_comments__svg--style">
                  <path d="M3.15839 15.548C3.19206 15.3532 3.24978 15.0891 3.28139 14.8229C3.44219 13.4652 3.58786 12.106 3.75827 10.7496C3.80294 10.3952 3.65795 10.1418 3.43256 9.90531C2.69937 9.13579 1.96274 8.36965 1.23093 7.59947C0.888037 7.23829 0.541031 6.87982 0.214634 6.50449C-0.120009 6.11974 -0.0719097 5.9843 0.419404 5.88996C1.87617 5.60897 3.33087 5.31384 4.7945 5.06857C5.36552 4.97288 5.74002 4.72895 6.01144 4.22291C6.6931 2.95476 7.41529 1.70751 8.121 0.451488C8.16497 0.37265 8.19796 0.287071 8.24881 0.21295C8.43915 -0.0660153 8.56421 -0.0754503 8.74081 0.211601C9.07133 0.749317 9.38399 1.29714 9.69458 1.84631C10.1715 2.68995 10.649 3.53291 11.1074 4.38665C11.3183 4.77949 11.631 4.97153 12.0694 5.0497C13.5522 5.31451 15.031 5.60021 16.5111 5.87918C17.089 5.98834 17.1426 6.10963 16.7351 6.55503C15.8954 7.47211 15.0337 8.37033 14.1789 9.2746C13.9769 9.48821 13.768 9.69643 13.5584 9.90329C13.2781 10.1796 13.2032 10.501 13.2547 10.8878C13.4547 12.3749 13.6326 13.8641 13.8182 15.3532C13.8292 15.4422 13.8381 15.5325 13.8381 15.6214C13.8381 15.9981 13.7323 16.0783 13.386 15.93C12.883 15.7157 12.3903 15.4799 11.8914 15.2555C10.9143 14.8162 9.96943 14.3115 8.97787 13.9004C8.62743 13.7549 8.3402 13.7562 8.00281 13.9146C6.66149 14.5419 5.31054 15.1497 3.96304 15.7636C3.83867 15.8202 3.71704 15.8862 3.58648 15.9253C3.26971 16.0203 3.16801 15.9435 3.15908 15.5473L3.15839 15.548Z" fill="#FFCB10" />
                </svg>
              </div>
              <p class="hb_comments--p">
                {{ block.settings.comment }}
              </p>
              <h3 class="hb_comments__name">{{ block.settings.name }}</h3>
            </div>
          {% endif %}
        {% endfor %}


      </div>
    </div>

    <div id="video_testimonials" class="tabcontent">
      <div class="hb_videos__list">
        {% for block in section.blocks %}
          {% if block.type == 'video_testimonial' %}
            <div class="hb_video--item">
              <img
                src="{{ block.settings.video_img |  image_url: width:'500x'  }}"
                alt=""
                class="hb_video_img--style" />
              <h3 class="hb_video_item_name">
                {{ block.settings.name }}
              </h3>
            </div>
          {% endif %}
        {% endfor %}


      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "testimonials",
    "settings": [],
    "blocks": [
      {
        "type": "google_reivews",
        "name": "Google reviews",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          }, {
            "type": "textarea",
            "id": "google_review",
            "label": "Google review"
          }
        ]
      }, {
        "type": "testimonials",
        "name": "Testimonials",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          }, {
            "type": "textarea",
            "id": "comment",
            "label": "Comment"
          }
        ]
      }, {
        "type": "video_testimonial",
        "name": "Video Testimaonial",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          }, {
            "type": "image_picker",
            "id": "video_img",
            "label": "Image"
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "testimonials"
      }
    ]
  }
{% endschema %}